:root {
    --main-color: #0c7d69;
    --submit-hover-color : #085446;
    --hover-text-color: rgb(171, 171, 171);
}

h1, p, .option-1-text, .option-2-text {
    font-family: sans-serif;
}

body {
    background-color: #e0f1e7; 
}

input {
    border-width: 0.4px;
    border-radius: 10px;
    font-size: 35px;
}

textarea {
    border-width: 0.4px;
    border-radius: 10px;
    font-size: 35px;
}

main {
    position: relative;
    justify-self: center;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 50px 0px 70px 0px;
    height: 850px;
    width: 880px;
    background-color: white;
}

form {
    position: absolute;
    width: 766px;
    margin-top: 20px;
    margin-left: 60px;
    
}

p:hover {
    color: var(--submit-hover-color);
}

.first-line {
    display: flex;
    gap: 27px;
    height: 94px;
}

.first-line > div > label > p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.first-line > div > input {
    font-size: 35px;
    height: 60px;
    width: 360px;
}

.first-line > div:nth-of-type(2) > input, .first-line > div:nth-of-type(2) > label > p {
    margin-left: 7px;
}

.second-line {
    height: 94px;
}

.second-line > label > p {
    margin-top: 20px;
    margin-bottom: 10px;
}


.second-line > input {
    height: 60px;
    width: 760px;
}

.third-line {
    height: 84px;
}

.third-line > p {
    cursor: default;
    margin-top: 20px;
    margin-bottom: 10px;
}

.option-container {
    display: flex;
}

.option-1, .option-2 {
    position: relative;
    height: 50px;
    width: 340px;
    cursor: pointer;
}

.option-1-text {
    position: absolute;
    align-self: center;
    margin-left: 60px;
    font-size: 20px;
    cursor: default;
} 

.indicator-1 {
    position: absolute;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    height: 15px;
    width: 14px;
    cursor: default;
}

.indicator-1.active {
    background-color: var(--main-color);
}

.option-2 {
    margin-left: 86px;
}

.option-2-text {
    position: absolute;
    align-self: center;
    margin-left: 490px;
    font-size: 20px;
    cursor: default;
}

.indicator-2 {
    position: absolute;
    margin-left: 455px;
    margin-top: 15px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    height: 15px;
    width: 14px;
    cursor: default;
}

.indicator-2.active {
    background-color: var(--main-color);
}

.fourth-line > label > p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.message {
    font-size: 20px;
    height: 180px;
    width: 760px;
    letter-spacing: -2px;
}

.fifth-line {
    margin-top: 20px;
    display: flex;
}

.fifth-line > input {
    align-self: center;
    height: 15px;
    width: 15px;
    margin-top: 0.5px;
}

.fifth-line > p {
    cursor: default;
    text-align: center;
    margin-left: 10px;
}

.submit {
    margin-top: 20px;
    margin-left: 3px;
    border-radius: 5px;
    border-width: 0px;
    height: 60px;
    width: 760px;
    background-color: var(--main-color);
    transition: 0.2s;
    cursor: pointer;
}

.submit:hover {
    background-color: var(--submit-hover-color);
}

.submit:hover h4 {
    color: var(--hover-text-color);
}

.submit > h4 {
    position: absolute;
    cursor: default;
    width: 100px;
    font-size: 20px;
    margin: -10px 325px 0px 325px;
    color: white;
}

@media (max-width: 360px) { 
main {
    position: relative;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    height: 1200px;
    width: 340px;
    background-color: white;
}

form {
    position: absolute;
    width: 340px;
    margin-top: 20px;
    margin-left: 45px;
    
}

.first-line {
    display: flex;
    flex-direction: column;
    height: 190px;
}

.first-line > div > label > p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.first-line > div > input {
    font-size: 20px;
    height: 50px;
    width: 250px;
}

.first-line > div:nth-of-type(2) > input, .first-line > div:nth-of-type(2) > label > p {
    margin-left: 0px;
}

.second-line {
    height: 82px;
}

.second-line > label > p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.second-line > input {
    font-size: 20px;
    height: 50px;
    width: 250px;
}

.third-line {
    height: 150px;
}

.third-line > p {
    cursor: default;
    margin-top: 20px;
    margin-bottom: 10px;
}

.option-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option-1, .option-2 {
    position: relative;
    height: 50px;
    width: 255px;
    cursor: pointer;
}

.option-1-text {
    position: absolute;
    align-self: center;
    margin-top: 13px;
    margin-left: -80px;
    font-size: 19px;
    cursor: default;
} 

.indicator-1 {
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    height: 15px;
    width: 14px;
    cursor: default;
}

.indicator-1.active {
    background-color: var(--main-color);
}

.option-2 {
    margin-left: 0px;
}

.option-2-text {
    position: absolute;
    align-self: center;
    margin-top: 84px;
    margin-left: -75px;
    font-size: 19px;
    cursor: default;
}

.indicator-2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 85px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    height: 15px;
    width: 14px;
    cursor: default;
}

.indicator-2.active {
    background-color: var(--main-color);
}

.fourth-line > label > p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.message {
    font-size: 18px;
    height: 300px;
    width: 250px;
    letter-spacing: -2px;
}

.fifth-line {
    margin-top: 20px;
    display: flex;
}

.fifth-line > input {
    align-self: center;
    height: 15px;
    width: 15px;
    margin-top: 0.5px;
}

.fifth-line > p {
    cursor: default;
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
    width: 160px;
}

.submit {
    margin-top: 20px;
    margin-left: 3px;
    border-radius: 5px;
    border-width: 0px;
    height: 60px;
    width: 250px;
    background-color: var(--main-color);
    cursor: pointer;
}

.submit > h4 {
    position: absolute;
    cursor: default;
    width: 100px;
    font-size: 20px;
    margin: -10px 0px 0px 65px;
    color: white;
}

}